.navbar{
  width: 80%;
  margin: auto;
}
.navbar-brand{
  color: #616161;
  font-weight:bolder;



}
.nav-item{
  margin-right: 0.7em;
}


.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff
}



.badge{
    position: absolute;
    top:10px;

    text-align: center;

    color:white;


}
